In [10]:
import pyforest
from datetime import datetime

In [19]:
df = pd.read_csv('../Data/dataset_final.csv')
df.date = pd.to_datetime(df.date)
#df.set_index(pd.to_datetime(df.date),inplace=True)
df.drop(['Unnamed: 0'],axis=1,inplace=True)
df.head()

        date  btc_price  gold_price  oil_wti_price  sp500_close  ...  sp500_dr      BVOL      GVOL      OVOL    VIX
0 2015-01-15     211.91      1352.8          46.37      1992.67  ... -0.009291  0.853974  0.344132  0.344950  22.39
1 2015-01-16     199.46      1364.9          48.49      2019.42  ...  0.013335  0.857286  0.348453  0.346061  20.95
2 2015-01-20     208.00      1377.4          46.79      2022.55  ...  0.001549  0.857176  0.348518  0.346647  19.89
3 2015-01-21     225.51      1378.4          47.85      2032.12  ...  0.004720  0.893605  0.350149  0.347336  18.85
4 2015-01-22     226.32      1390.2          45.93      2063.15  ...  0.015154  0.904949  0.351242  0.343230  16.40

[5 rows x 15 columns]

In [24]:

# load data
def parse(x):
    return datetime.strptime(str(x)[:10], '%Y-%m-%d')
d = df.date.apply(parse)

In [25]:
d

0      2015-01-15
1      2015-01-16
2      2015-01-20
3      2015-01-21
4      2015-01-22
          ...
1314   2020-04-17
1315   2020-04-22
1316   2020-04-23
1317   2020-04-24
1318   2020-04-27
Name: date, Length: 1319, dtype: datetime64[ns]